@model Lanche


<div class="col">
    <div class="card ">
        <h3>@Model.Nome</h3>
        <img class="card-img-top vh-50" src="https://mdbcdn.b-cdn.net/img/new/standard/city/041.webp" alt="Card image cap">
        <p>@Model.DescricaoCurta</p>
        <h3>@Model.Preco.ToString("C")</h3>
    </div>
</div>